.body {
  margin: 0;
  background-color: black;
}

h2 {
  color: #89A1EF;
}

.homeContainer {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
  height: 60vh;
}

.homeContainer div {
  margin-left: 2%;
  flex-grow: 2;
}

.homeContainer img {
  margin-right: 2%;
}

.homeContainer button {
  background-color: #89A1EF;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.25em;
  height: 2em;
  font-weight: 600;
}

.homeContainer button:hover {
  color: white;
  background-color: #5f70a8;
}

.navContainer img{
  padding-left: 10px;
  height: 10vh;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(31, 31, 31);
  width: 100%;
  height: 10vh;
  border-bottom: 3px solid #5f70a8;
}

.btnNavContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
  width: 40%;
}

.btnNavContainer button {
  font-size: 1.25em;
  height: 2em;
  font-weight: 600;
  padding: 0 10px;
  background: none;
  border: none;
  color: #89A1EF;
}



